# Dependencies
node_modules/
.npm
yarn-error.log

# Build outputs
dist/
build/
out/
cache/
artifacts/
typechain/
cache_hardhat/
coverage/
/bk
/bkup

# Environment files
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage.json

# Hardhat files
.openzeppelin/
/artifacts
/cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory
coverage/
.coverage/

# Misc
.swc/
*.tsbuildinfo

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage.json
/coverage

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
circom/*

.env.local
.env.*.local
.env
.env.*
.env.local
.env.*.local
.cursorrules
